extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li 
      a(href=base_path + "/bookings") Bookings

  hr
  div
  a(href='https://catalogue.libraries.coop/eg/staff') Evergreen
  span  | 
  a(href=base_path + '/logout') Logout


