extends layout

block content
  h1 Login!
  form(action="login",method="post")
    div
        label(for="username") Username:
        input(autocomplete="username" name="username", type="text")
        br
    div
        label(for="password") Password:
        input(autocomplete="password" name="password", type="password")
    div
        button(type="submit") Login