extends ../layout

block content
    h1 Captured Bookings Awaiting Pickup!
    table.table
      thead
        tr
            th Captured At
            th Pickup Lib
            th Booking
            th Item
            th Patron
      each val in bookings
        tr
            td
              table.table-borderless
                tr
                  td= val.capture_time
            td= val.pickup_library
            td 
              table.table-borderless
                tr
                  td From:
                  td= val.start_time
                tr
                  td To:
                  td= val.end_time
            td
              table.table-borderless
                tr
                  td= val.target_type
                tr
                  td=val.current_barcode
                tr
                  if val.call_number & val.copy_number
                    td #{val.call_number} c. #{val.copy_number}
                  else
                    td #{val.call_number}

            td
              table.table-borderless
                tr
                  td
                    a(target="_blank", href="https://"+ host + "/eg/staff/circ/patron/" + val.patron_id + "/checkout") #{val.patron_lname} 
                  td (#{val.patron_barcode})
                tr
                  td(colspan=2)
                    a(target="_blank", href="https://"+host+"/eg/staff/booking/legacy/booking/pickup?patron_barcode=" + val.patron_barcode) Pickup Reservations
                tr
                  td(colspan=2)
                    a(target="_blank", href="https://"+host+"/eg/staff/booking/legacy/booking/reservation?patron_barcode=" + val.patron_barcode) Cancel Reservations
  

    hr
    a(href=base_path + "/bookings") Back
