extends ../layout

block content
    div(class="container")
        h1 Bookings!

        table(class="table")
            thead
                tr
                    th(colspan=(branches.length + 2)) Open (Future/Uncaptured) Bookings
            tbody
                tr
                    td Today
                    each branch in branches
                        td 
                            a(href="bookings/open/today/" + branch.shortname) #{branch.display_name}
                    td
                        a(href="bookings/open/today/all") All
                tr
                    td Tomorrow
                    each branch in branches
                        td 
                            a(href="bookings/open/tomorrow/" + branch.shortname) #{branch.display_name}
                    td
                        a(href="bookings/open/tomorrow/all") All
                tr
                    td Next 3 days
                    each branch in branches
                        td 
                            a(href="bookings/open/next3days/" + branch.shortname) #{branch.display_name}
                    td
                        a(href="bookings/open/next3days/all") All
            thead
                tr
                    th(colspan=(branches.length + 2)) Captured Bookings
            tbody
                tr
                    td
                    each branch in branches
                        td 
                            a(href="bookings/captured/" + branch.shortname) #{branch.display_name}
                    td
                        a(href="bookings/captured/all") All
            thead
                tr
                    th(colspan=(branches.length + 2)) Picked Up (Checked Out) Bookings
            tbody
                tr
                    td
                    each branch in branches
                        td 
                            a(href="bookings/out/" + branch.shortname) #{branch.display_name}
                    td
                        a(href="bookings/out/all") All
            thead
                tr
                    th(colspan=(branches.length + 2)) Bookings for a specific item
            tbody
                tr
                    td
                    td(colspan=(branches.length + 1))
                        form(action="bookings/item")
                            label Barcode:
                            input(type="text",name="barcode")
                            input(type="submit")

    hr
    a(href=base_path) Back

