extends ../layout

block content
    h1 Item's Bookings!
    table.table
      thead
        tr
            th Pickup Lib
            th Booking
            th Item
            th State
            th Patron
      each val in bookings
        tr
            td= val.pickup_library
            td 
              table.table-borderless
                tr
                  td From:
                  td= val.start_time
                tr
                  td To:
                  td= val.end_time
            td 
              table.table-borderless
                tr
                  td Picked Up:
                  td= val.pickup_time
                tr
                  td Returned:
                  td= val.return_time
                tr
                  td Cancelled:
                  td= val.cancel_time

            td= val.state
            td
              table.table-borderless
                tr
                  td
                    a(target="_blank", href="https://"+host+"/eg/staff/circ/patron/" + val.patron_id + "/checkout") #{val.patron_lname} 
                  td (#{val.patron_barcode})
                tr
                  td(colspan=2)
                    a(target="_blank", href="https://"+host+"/eg/staff/booking/legacy/booking/reservation?patron_barcode=" + val.patron_barcode) Cancel Reservations
  
    hr
    a(href=base_path + "/bookings") Back
